# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/

# Builds
[Bb]uild/
[Bb]uilds/

# IDE / editor
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db
